@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
}

:root {
    --cor-1: #5300C8;
    --cor-2: #5D04D9;
    --cor-3: #03318C;
    --cor-4: #000000;
    --cor-5: #FFFFFF;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.logo_header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96px;
    width: 100vw;
    background-color: var(--cor-1);
}

.logo_img {
    width: 374px;
    height: 56px;
}

.sessoes {
    display: flex;
    margin-top: 20px;
    gap: 15px;
}

.meus_produtos, .adicionar_produtos {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.meus_produtos {
    justify-content: flex-start;
}

.adicionar_produtos {
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

.produtos_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    margin-top: 20px;
}

.card {
    background-color: var(--cor-2);
    color: var(--cor-5);
    width: calc(33.33% - 20px);
    padding: 10px;
    border-radius: 5px;
    border: 3px solid var(--cor-4);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 258px;
    box-sizing: border-box;
}

.card_container__value {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
}

.img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 258px;
    width: 196px;
}

.img_container img {
    height: 174px;
    width: 146px;
}

.delete-button {
    background-color: var(--cor-2);
    border: none;
    cursor: pointer;
    margin-top: auto;
}

p {
    font-size: 12px;
    font-family: "IBM Plex Mono", monospace;
    text-align: start;
    gap: 10px;
}

.formulario_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 25px;
}

.input-form {
    width: 392px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid var(--cor-3);
    font-size: 20px;
    color: var(--cor-3);
}

input::placeholder {
    color: var(--cor-3);
    font-size: 16px;
    font-weight: bold;
    font-family: "IBM Plex Mono", monospace;
    text-align: start;
}

.button_add {
    width: 186px;
    height: 55px;
    background-color: var(--cor-3);
    border-radius: 20px;
    color: var(--cor-5);
    border: 2px solid var(--cor-3);
    font-size: 20px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    cursor: pointer;
}

.button_limpar {
    width: 186px;
    height: 55px;
    border: 2px solid var(--cor-3);
    border-radius: 20px;
    color: var(--cor-3);
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 192px;
    background-color: var(--cor-1);
    margin-top: 60px;
}

.footer_logo {
    width: 374px;
    height: 56px;
}

.footer_texto {
    display: block;
    margin-top: 5px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 200;
    font-size: 16px;
    color: var(--cor-5);
}

h2 {
    font-size: 16px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    align-items: center;
    color: var(--cor-5);
}
.my-element {
    height: calc(var(--vh, 1vh) * 100); /* Altura baseada na variável --vh */
}

/* Media Query para dispositivos móveis */
@media (max-width: 768px) {
    .my-element {
        height: calc(var(--vh, 1vh) * 100);
    }
    
    .sessoes {
        display: flex;
        flex-direction: column;
    }

    .formulario_container {
        order: -1;
    }

    .produtos_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: calc(50% - 10px);
    }
}
